{% extends 'ex01/base.html' %}
{% load static %}
{% block title %}
Ex01: Django, framework web.
{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'ex01/style1.css' %}"> {% endblock %}
{% block content %}
Django was created in the autumn of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.[16] It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.[17] Adrian Holovaty is a Romani jazz guitar player inspired in part by Reinhardt's music.[18]

In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.[19]
{% endblock %}